.itemize{
	padding-top: 5px;
	padding-bottom: 5px;
}

.social-media-icons {
	font-size: 1.5em;
	margin-right: 0.1em;
}

.facebook-icon {
	color:#3b5998;
}

.linkedin-icon {
	color:#0077b5;
}

.twitter-icon {
	color:#1d8dee;
}

.googleplus-icon {
	color:#dd4b39;
}

.word-cloud {
	max-width: 450px;
}

.copyright {
	font-size: 0.8em;
}

.sidebar {
	width: 100%;
	background-color: #f8f8f8;
	border-radius:4px;
	border: 1px solid;
	border-color: #e7e7e7;
}

.sidebar .nav>li>.nav-category {
	display: block;
	padding: 10px 15px;
    font-size: 1.2em;
    color: #000;
    font-weight: 500;
}

.sidebar .nav .nav>li>a {
    padding-left: 40px;
    font-size: 1em;
    color: #000;
    font-weight: 400;
}

.sidebar .nav .nav>.active>a {
	background-color: #eeeeee;
  font-weight: 500;
}

.CV_primary_list {
	list-style-type: none;
}

.CV_primary_list > li {
	margin-bottom: 10px;
}

.section{
	border: 1px solid #dddddd;
	border-radius: 4px;
	margin-bottom: 20px;
}

.sectionHeader{
	padding: 1px 20px;
	border-radius: 4px;
	background-color: #eeeeee;
}

.sectionContent{
	padding: 20px;
}

.centered{
	display:block;
	margin-left: auto;
    margin-right: auto;
}

img.in-project{
	max-width:100%;
	width:500px;
}

.carousel-inner{
	background-color: #fafafa;
	cursor: pointer;
}

.carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .1)), to(rgba(0, 0, 0, .0001)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, .0001) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .1) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .1) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .1)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}

.carousel-control {
  filter: alpha(opacity=70);
  opacity: .7;
}

.carousel-control:hover,
.carousel-control:focus {
  filter: alpha(opacity=95);
  opacity: .95;
}

.slide{
	margin-bottom: 20px;
}

.carousel-indicators{
	bottom: -35px;
}
.carousel-indicators li {
  background-color: #f2f5f5;
  border: 1px solid #999999;
}
.carousel-indicators .active {
  background-color: #666666;
}

.pattern-table{
	margin: 8px auto;
}

.pattern-table > thead > tr > th {
	border-top:solid 1.5pt;
	border-left:none;
	border-bottom:solid 1.0pt;
	border-right:none;
	font-weight: 500;
	font-size: 0.85em;
	text-align: center;
}

.pattern-table > tbody > tr > td {
	border:none;
	border-bottom:solid 1.0pt;
	padding: 0pt 5pt;
	font-size: 0.8em;
}

.pattern-table > tbody > tr > td.category {
	font-weight: 500;
}

a.pill{
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	text-decoration:none;
	color:#333333;
	font-size:12px;
	font-weight:bold;
	padding:0 15px;
	line-height:24px;
	height: auto;
	display:inline-block;
	text-align:center;
	background-color:#DDDDDD;
}

a.pill:hover{
	background-color:#F6F6F6;
}

@media screen and (min-width: 768px) {
	#img-viewer-model-dialog {
		width: 90%;
	}
}

@media screen and (min-width: 992px) {
	#img-viewer-model-dialog {
		width: 900px;
	}
}
